*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
header{
    background-color: rgba(87, 173, 202, 0.705);
    height: 382px;
}
/* classi di layout  */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col-15{
    width: 15%;
}
.col-45{
    width: 45%;
}
.col-60{
    width: 55%;
}
/* classi di stile  */
.content{
    padding: 5px 5px;
    background-color: rgb(207, 163, 53);
    border: 1px dashed black;
}
.content-sm{
    background-color: rgb(215, 118, 223);
    height: 270px;
    border-radius: 4px;
    border: 1px dashed black;
}
#main-menu{
    list-style-type: none;
    text-align: center;
}
#main-menu li{
    display: inline-block;
    margin: 0px 5px;
}
#login{
    text-align: right;
}
.bg-darkblue{
    background-color: rgb(13, 13, 155);
    padding: 30px 5px;
}
.py-10{
    padding: 10px 0px;
}
